<!DOCTYPE html>

<head>
    <meta charset="UTF8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
    <title>TinyApp</title>
    

<header > <a href="http://localhost:8080/login">Login</a> <a>|</a><a href="http://localhost:8080/register">Register</a></header>
<ul><% if (!cookie) { %>
<form class="form-in line" method="POST"action="/">
<input class="text" name="user_id" placeholder="who are you?" style="width: 300px; margin: 1em"> 
<button type="submit" class="btn btn-primary">Login</button> 
</form>

<% } else { %>
<p>Logged in as:<%= cookie %></p>
<form class="form-in line" method="POST"action="/logout">
    <input type="submit" class="btn btn-primary" value="Logout" />
</form>
<%}%> 
</ul>

</head>