<!DOCTYPE html>
<head>
<meta charset="UTF8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<title>TinyApp:)))</title>
<header>

  


</header>

</head>
<body style="font-size: 20px; padding: 50px;">


    <h1> Tinyurl app</h1>
   <H4> <% include ../views/_header%></H4>
    <h2>shortURL</h2>
<li> <%= shortURL %> | <%= longURL %> </li>
</body>
